.Rproj.user
.pylint.d
.vscode
__pycache__
todo
code/
build/
rust/weighted_ld/target/

# we will load the paper stats and maybe an R/py notebook along with the paper, but ignore for now
paper/

# R - sorry for my sins
*.R
.RHistory
.RData
*.Rproj
